@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-poppins);
  --font-serif: var(--font-lora);

  /* Brand Colors */
  --color-primary: #116295;
  --color-primary-900: #0a2540;
  --color-primary-50: #EFF6FF;
  --color-primary-100: #DBEAFE;

  --color-secondary: #1EA99C;
  --color-secondary-100: #CCFBF1;

  --color-accent: #F59E0B;
  --color-accent-100: #FEF3C7;

  --color-background-app: #F8FAFC;
  --color-card: #FFFFFF;

  /* Semantic Colors */
  --color-success: #22C55E;
  --color-success-100: #DCFCE7;

  --color-danger: #EF4444;
  --color-danger-100: #FEE2E2;

  --color-neutral: #64748B;
  --color-neutral-100: #F1F5F9;

  --color-dark: #0F172A;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html {
  overflow-y: scroll;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
}
